@import "./fonts";
//COLORS

$c-grey: #1e212c;
$c-white: #ffff;
$c-green: #03cea4;
$c-grey-800: #424551;
$c-red: #ff4242;
$c-dark-green: #17696a;
$c-light-grey: #d7dadd;
$c-grey-300: #e5e8ed;
$c-grey-700: #787a80;
$c-grey-400: #3d404b;
$c-grey-200: #f4f5f7;
$c-grey-600: #9a9ca5;
$c-yellow: #f89828;

// Fonts

$f-base: "Lato";
