@import "../../styles/variables";
.c-arrivals-swiper {
  // margin: 0 30px !important;
  overflow: hidden;
}

.c-arrivals-slide {
  max-width: 285px;
  width: 100%;
  // overflow: hidden;
  &__wrapper {
    padding: 16px;
    background: center;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  &__wrapper-1 {
    background-image: url("../../assets/product1.png");
  }
  &__wrapper-2 {
    background-image: url("../../assets/product2.png");
  }
  &__wrapper-3 {
    background-image: url("../../assets/product3.png");
  }
  &__wrapper-4 {
    background-image: url("../../assets/product4.png");
  }
  &__wrapper-5 {
    background-image: url("../../assets/product5.png");
  }
  &__wrapper-6 {
    background-image: url("../../assets/product6.png");
  }
  &__top-block {
    margin-bottom: 228px;
    display: flex;
    justify-content: space-between;
  }
  &__sale {
    background: $c-red;
    border-radius: 4px;
    padding: 1px 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: $c-white;
  }
  &__rating {
    display: flex;
    flex-direction: row;
    max-width: 78px;
    width: 100%;
    justify-content: space-between;
    &-item {
      max-width: 14px;
      width: 100%;
      overflow: hidden;
    }
  }
  &__bottom-block {
    display: flex;
    justify-content: flex-end;
  }
  &__wish {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $c-white;
    padding: 8px;
    &-heart {
      max-width: 16px;
      width: 100%;
      overflow: hidden;
    }
    &-heart:hover {
      fill: $c-red;
    }
  }
  &__description {
    padding: 16px;
    background-color: $c-white;
  }
  &__prices {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 126px;
    width: 100%;
  }
  &__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: $c-grey;
  }
  &__old-price {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: $c-grey-700;
  }
}
.e-arrivals-slide__descr {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: $c-grey-800;
}

.c-arrivals-swiper__pagination {
  align-items: center;
  padding-top: 80px;
  margin: 0 auto;
  max-width: 240px;
}
.c-arrivals-swiper__pagination > .swiper-pagination-bullet {
  max-width: 30px;
  width: 100%;
  height: 2px;
  background-color: $c-grey-800;
  border-radius: 0%;
}
@media screen and(max-width:1440px) {
  .c-arrivals-slide {
    // max-width: 200px;
    // overflow: hidden;
    &__top-block {
      margin-bottom: 150px;
    }
    &__sale {
      font-size: 10px;
    }
    &__rating {
      display: flex;
      flex-direction: row;
      max-width: 67px;
      width: 100%;
      justify-content: space-between;
      &-item {
        max-width: 11px;
        width: 100%;
        overflow: hidden;
      }
    }
    &__bottom-block {
      display: flex;
      justify-content: flex-end;
    }
    &__wish {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $c-white;
      padding: 7px;
      &-heart {
        max-width: 14px;
        width: 100%;
        overflow: hidden;
      }
    }
    &__description {
      padding: 12px;
      background-color: $c-white;
    }
    &__prices {
      margin-top: 6px;
      max-width: 90px;
      width: 100%;
    }
    &__price {
      font-size: 16px;
      line-height: 110%;
    }
    &__old-price {
      font-size: 12px;
      line-height: 120%;
    }
  }
  .e-arrivals-slide__descr {
    font-size: 14px;
  }
  .c-arrivals-swiper__pagination {
    padding-top: 40px;
    max-width: 200px;
  }
  .c-arrivals-swiper__pagination > .swiper-pagination-bullet {
    width: 20px;
  }
}
@media screen and(min-width:320px) {
  .swiper-container {
    max-width: 420px;
    width: 100%;
  }
}
@media screen and(min-width:420px) {
  .swiper-container {
    max-width: 600px;
    width: 100%;
  }
}
@media screen and(min-width:600px) {
  .swiper-container {
    max-width: 900px;
    width: 100%;
  }
}
@media screen and(min-width:900px) {
  .swiper-container {
    max-width: 1200px;
    width: 100%;
  }
}
@media screen and(min-width:1200px) {
  .swiper-container {
    max-width: 1400px;
    width: 100%;
  }
}
@media screen and(min-width:1400px) {
  .swiper-container {
    max-width: 1860px;
    width: 100%;
  }
}
